.button {
  display: block;
  font-size: 10px;
  text-decoration: none;
  padding: 7px 12px;
  font-weight: 700;
  background: none;
  border: 2px solid #ff8080;
  color: #ff8080;
  cursor: pointer;
  border-radius: 4px;
  }

button:hover {
  transition: 0.25s;
  background-color: #ff8080;
  color: rgb(88, 88, 88);
}