.wrapper {
    margin-left: 80px;
    padding: 0;
}

.item {
    display: inline-block;
    margin-top: 50px;
    margin-right: 50px;
 

    &Link {
        text-decoration: none;
        color: #818181;
        font-size: 150%;
        font-weight: 700;

        &Active {
            font-weight: 900;
        }
    }
}
